/* See https://quaxio.com/blink.html */

blink {
  	animation: 1s ease infinite blink_effect;
}

@keyframes blink_effect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
