/*
  The board and target layout depend on the window's aspect-ratio. There are
  four different cases which need to be handled:
  - horizontal and very wide: space on the left and right.
  - horizontal: space on the top and bottom.
  - vertical: space on the left and right.
  - vertical and very narrow: space on the top and bottom.
*/

@media (min-aspect-ratio: 133/100) {
  body {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #board {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  #instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100%;
  }

  #goal {
    height: 33%;
    aspect-ratio: 1 / 1;
  }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 133/100) {
  body {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }

  #board {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  #instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 33%;
  }

  #goal {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 100/133) {
  body {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }

  #board {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  #instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 33%;
    width: 100%;
  }

  #goal {
    width: 33%;
    aspect-ratio: 1 / 1;
  }
}

@media (max-aspect-ratio: 100/133) {
  body {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #board {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  #instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
  }

  #goal {
    width: 33%;
    aspect-ratio: 1 / 1;
  }
}

/* Disallow scrolling */
html, body {margin: 0; height: 100%; overflow: hidden}

* {
  box-sizing: border-box;
}

#board {
  position: relative;
  overflow: hidden;
}

.unsolved {
  border: 3px solid black;
}

.solved {
  border: 1px solid #474;
}

.unsolved div {
  border: 3px solid black;
}

.solved div {
  border: 1px solid #474;
}

#board div {
  width: 25%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 7vmin; /* todo: make this conditional on window shape */
  cursor: move;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* I'm unable to disable double-tap-to-zoom on mobile. So a compromise is to
     disable zooming on the divs. */
  touch-action: none;
}

#goal {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#goal div {
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  border: 1px solid black; /* todo: make this conditional on window shape */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 2vmin; /* todo: make this conditional on window shape */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#instr {
  display: none;
}

.instr #instr {
  display: block;
  position: absolute;
  background-color: #08f;
  border: 1px solid black;
  opacity: 0.9;
  padding: 2em;
  width: 75%;
}

.instr #board {
  filter: blur(4px);
}

.instr #instructions {
  filter: blur(4px);
}

ul {
  padding-top: 0;
  margin-top: 0;
}
