/*
  The board and target layout depend on the window's aspect-ratio. There are
  four different cases which need to be handled:
  - horizontal and very wide: space on the left and right.
  - horizontal: space on the top and bottom.
  - vertical: space on the left and right.
  - vertical and very narrow: space on the top and bottom.
*/

@media (min-aspect-ratio: 141/100) {
  body {
    display: flex;
    justify-content: center;
    gap: 4vmin;
    padding: 4vmin 0;
    align-items: center;
  }

  #board {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  #goal {
    height: 33%;
    aspect-ratio: 1 / 1;
  }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 141/100) {
  body {
    display: flex;
    justify-content: center;
    gap: 4vmax;
    padding: 0 4vmax;
    align-items: center;
  }

  #board {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  #goal {
    width: 33%;
    aspect-ratio: 1 / 1;
  }
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 100/141) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vmax;
    padding: 4vmax 0;
    align-items: center;
  }

  #board {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  #goal {
    height: 33%;
    aspect-ratio: 1 / 1;
  }
}

@media (max-aspect-ratio: 100/141) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vmin;
    padding: 0 4vmin;
    align-items: center;
  }

  #board {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  #goal {
    width: 33%;
    aspect-ratio: 1 / 1;
  }
}

body {
  touch-action: none; /* disables zooming on mobile */
}

/* Disallow scrolling. Fixes a Safari issue with grids and fractional units.*/
html, body {margin: 0; height: 100%; overflow: hidden}

* {
  box-sizing: border-box;
}

#board {
  position: relative;
  overflow: hidden;
}

.unsolved {
  border: 3px solid black;
}

.solved {
  border: 1px solid #474;
}

.unsolved div {
  border: 3px solid black;
}

.solved div {
  border: 1px solid #474;
}

#board div {
  width: 25%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 7vmin; /* todo: make this conditional on window shape */
  cursor: move;
  user-select: none;
}

#goal {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#goal div {
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  border: 1px solid black; /* todo: make this conditional on window shape */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 2vmin; /* todo: make this conditional on window shape */
  user-select: none;
}

ul {
  padding-top: 0;
  margin-top: 0;
}
