---
layout: quaxio
---
<div class="post">
  <header>
    <img src="{{ site.baseurl }}/alok_small.jpg">
    <div>
      <h1><a href="{{ site.baseurl }}/">Alok Menghrajani</a></h1>
      <p>
        Previously: security engineer at Square, co-author of HackLang, put the 's' in https at Facebook. Maker of CTFs.
      </p>
      <br>
      <p>
        This blog does not use any tracking cookies and does not
        serve any ads. Enjoy your anonymity; I have no idea who you are, where
        you came from, and where you are headed to. Let's dream of an Internet
        from times past.
      </p>
      <br>
      <p>
        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="/contact_me.html">Contact me</a> |
        <a href="https://github.com/alokmenghrajani?tab=repositories">Github</a> |
        <a href="/feed.xml">RSS feed</a> |
        <a href="https://zxs.ch/">Consulting services</a> |
        <a href="/tools_and_games">Tools &amp; games</a>
      </p>
    </div>
  </header>
  <div class="post-metadata">
    <h1 class="post-metadata-title">{{ page.title }}</h1>
    {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
    {% unless page.nodate %}
      <div class="post-metadata-date">
        <time>{{ page.date | date: '%b %-d, %Y' }}</time>
      </div>
    {% endunless %}
    {% if page.tags.size > 0 %}
      <div class="post-metadata-tags">tags: {{ page.tags | join: ' | '}}</div>
    {% endif %}
  </div>
  <div>
    {{ content }}
  </div>
  <div class="post-nav">
    <a style="display: none" class="nav-previous" href="">← PREVIOUS POST</a>
    <a style="display: none" class="nav-next" href="">NEXT POST →</a>
  </div>
  <hr style="clear: both; display: block; visibility: hidden;">
  <footer>
    <div class="send-pr">This site is hosted on github.com<br/><a href="https://github.com/alokmenghrajani/alokmenghrajani.github.com/blob/main/{{ page.path }}">pull requests to comment or fix mistakes</a> welcome!</div>
    <div class="icons">
      <a href="/">
        <svg viewBox="0 0 1024 1024">
          <path class="path1" d="M1024 590.444l-512-397.426-512 397.428v-162.038l512-397.426 512 397.428zM896 576v384h-256v-256h-256v256h-256v-384l384-288z"></path>
        </svg>
        <br><span>Home</span>
      </a>
      <a href="https://github.com/alokmenghrajani?tab=repositories">
        <svg viewBox="0 0 16 16">
          <path d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"></path>
        </svg>
        <br><span>Github</span>
      </a>
    </div>
  </footer>
</div>
