<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }}{% else %}Alok Menghrajani's Blog{% endif %}</title>
    <meta name="author" content="Alok Menghrajani"/>
    <meta name="description" content="Security engineer at Square. Previously co-author of Hack and put the 's' in https at Facebook. Maker of CTFs."/>
    <meta property="fb:admins" content="536181839"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Alok Menghrajani's Blog{% endif %}"/>
    <meta name="p:domain_verify" content="c8d7b1dec1e48b1046efe5f183a5cc4a"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/quaxio.css"/>
  </head>
  <body>
<!--
                        _             _       _
  __ _ _   _  __ ___  _(_) ___     __| | ___ | |_    ___ ___  _ __ ___
 / _` | | | |/ _` \ \/ / |/ _ \   / _` |/ _ \| __|  / __/ _ \| '_ ` _ \
| (_| | |_| | (_| |>  <| | (_) | | (_| | (_) | |_  | (_| (_) | | | | | |
 \__, |\__,_|\__,_/_/\_\_|\___/   \__,_|\___/ \__|  \___\___/|_| |_| |_|
    |_|
-->
    <div class="container">
      {{ content }}
    </div>
<!--
                 _\|/_
                 (o o)
+-------------oOO-(_)-OOo-------------+
|                                     |
|  Thanks for looking at the source!  |
|                                     |
+-------------------------------------+
                (_| |_)
-->
  </body>
</html>
