<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }}{% else %}Alok Menghrajani's Blog{% endif %}</title>
    <meta name="author" content="Alok Menghrajani"/>
    <meta name="description" content="Previously: security engineer at Square, co-author of HackLang, put the 's' in https at Facebook. Maker of CTFs."/>
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" sizes="any">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/quaxio.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Alok Menghrajani's Blog" href="/feed.xml"/>
  </head>
  <body>
<!--
                        _             _       _
  __ _ _   _  __ ___  _(_) ___     __| | ___ | |_    ___ ___  _ __ ___
 / _` | | | |/ _` \ \/ / |/ _ \   / _` |/ _ \| __|  / __/ _ \| '_ ` _ \
| (_| | |_| | (_| |>  <| | (_) | | (_| | (_) | |_  | (_| (_) | | | | | |
 \__, |\__,_|\__,_/_/\_\_|\___/   \__,_|\___/ \__|  \___\___/|_| |_| |_|
    |_|
-->
    <div class="container">
      {{ content }}
    </div>
<!--
                 _\|/_
                 (o o)
+-------------oOO-(_)-OOo-------------+
|                                     |
|  Thanks for looking at the source!  |
|                                     |
+-------------------------------------+
                (_| |_)
-->
  </body>
</html>
